.textbox-container {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #16222d;
    font-family: Calibri, Arial, sans-serif;
}

.textbox-input {
    width: 250px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-family: Calibri, Arial, sans-serif;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: Calibri, Arial, sans-serif;
}

.displayed-text {
    margin-top: 10px;
    margin-bottom: 0px;
    color: #fff;
    font-weight: bold;
    font-family: Calibri, Arial, sans-serif;
}